body{
    background-color: blue;
    }
    
    form{
    text-align: center;
    padding: 20px;
    }
    
    #resultado{
    font-size: 20px;
    color: white;
    text-align: center;
    }
    
    input[type="date"]{
    border: none;
    border-bottom: 2px solid black;
    }
    
    button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    }