*{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
	border-radius: 5px;
	padding-left: 10px;
}

.titulo{
	font-size: 30px;
}

button{
	background-color:rgb(0, 182, 204);
	padding: 10px 10px;
	color: white;
	font-size: 15px;
	border-radius: 5px;
	border: cyan;
	cursor: pointer;
}

button:hover{
	background-color: white;
	color: rgb(0, 182, 204);
	transition: 0.5s;
	cursor: pointer;
}

.todoform{

	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
	width: 500px; 
	padding: 40px;
	background: rgba(145, 156, 210, 0.7);
	box-shadow: 0 10px 20px rgba(221, 217, 217, 0.5);
	border-radius: 10px;


		background-image: url("img/embara.jpg");
		background-size: 150% 200%;
		background-position: center;
}