*{
	font-family: tahoma, sans-serif, roboto;
}
/*LEEME:C贸digo desarrollado por Josue Acuna P. - @sitrayas. Por favor, 
    no olvides mencionar mi nombre o perfil al compartir o utilizar este c贸digo-->
    <!--README: Code developed by Josue Acuna P. - @sitrayas. Please,
    Don't forget to mention my name or profile when sharing or using this code-->*/
.ifur{
    font-weight: bold;
	color: rgb(148, 69, 73);
}



input {
	border-radius: 5px;
	padding-left: 10px;
}

.titulo{
	font-size: 30px;
}

input {
	border-radius: 5px;
	padding-left: 10px;
}

input:focus {
	
	/* outline-width: 0; */
	outline: none;
	padding-left: 10px;
	background: rgb(217, 255, 185);
	color: rgb(35, 19, 19);
}

button{
	background-color:rgb(0, 182, 204);
	padding: 10px 10px;
	color: white;
	font-size: 15px;
	border-radius: 5px;
	border: cyan;
	cursor: pointer;
}

button:hover{
	background-color: white;
	color: rgb(0, 182, 204);
	transition: 0.5s;
	cursor: pointer;
}

.todoform{

	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
	width: 500px; 
	padding: 40px;
	background: rgba(145, 156, 210, 0.7);
	box-shadow: 0 10px 20px rgba(221, 217, 217, 0.5);
	border-radius: 10px;


		background-image: url("img/embara.jpg");
		background-size: 150% 200%;
		background-position: center;
}
/*LEEME:C贸digo desarrollado por Josue Acuna P. - @sitrayas. Por favor, 
    no olvides mencionar mi nombre o perfil al compartir o utilizar este c贸digo-->
    <!--README: Code developed by Josue Acuna P. - @sitrayas. Please,
    Don't forget to mention my name or profile when sharing or using this code-->*/